body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(10, 10, 40)  , rgb(10, 10, 60));
    width: 1500px;
    height: 100vh;
    color: white !important;
}

.main{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
    height: 945px;
    background-color: rgba(101, 101, 101, 0.534);
    border-radius: 10px;
    color: white;
    float: left;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.ok{
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
.header p{
    text-align: center;
}
.header img{
    margin-left: 20px;
    width: 30px;
    height: 30px;

}
.content1{
    float: left;
    margin-left:30px;
   
}
.content1 input{
    margin-top: 27px;
    width: 850px;
    height: 700px;
    height: 40px;
    background-color:rgba(101, 101, 101, 0.534) ;
    border: none;
    border-radius: 20px;
}
.tem{
    width: 300px;
    margin-left: 80px;
    position: relative;
    

}
.sun{
    width: 200px;
    float: left;
    
    position: relative;
    margin-left: 650px;
    top: -200px;
}
.sun img{
    width: 200px;
    height: 200px;
}
.today-forecast{
    width:850px;
    height: 300px;
    background-color:rgba(101, 101, 101, 0.534) ;
    border-radius: 50px;
}
.today-forecast h5{
    width: 200px;
    
    position: relative;
    bottom: 200px;
    margin-left: 30px;
}
.box{
    width: 127px;
    height: 180px;
    border-right:1px solid white;
    
    float: left;
    position: relative;
    bottom: 200px;
    margin-left: 10px;

}
.box p{
    width: 100px;
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 0px;
}
.box img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    margin-left: 20px;

}
.air{
    margin-top: 20px;
    width:850px;
    height: 300px;
    background-color:rgba(101, 101, 101, 0.534) ;
    border-radius: 50px;
}
.air h5{
    width: 200px;
    
    position: relative;
    bottom: 90px;
    margin-left: 30px;
}
.box1{
    
    width: 415px;
    height: 130px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    bottom: 100px;
    
}
.box1 img{
    width: 30px;
    height: 30px;
}
.box1 p {
    font-size: 2.5rem;
    margin-left: 25px;
}
.box1 span {
    font-size: 1.2rem;
}
.content2{
    margin-top: 30px;
    width: 500px;
    height: 870px;
    background-color:rgba(101, 101, 101, 0.534) ;
    float: right;
    border-radius: 30px;
}
.box3{
    margin-left: 37px;
    width: 420px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}.content2 h5{
    margin: 0;
    text-align: center;
}
.box3 img{
    margin-top: 30px;
    
    width: 50px;
    height: 50px;
    
}
.box3 span{
    font-size: 1.3rem;
    margin: 0;
    position: relative;
    bottom: -20px;
    
}
.footer{
    width: 850px;
    margin-top: 15px;
    border-radius: 20px;
    height: 70px;
    background-color:rgba(101, 101, 101, 0.534) ;
}

.footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
    top: -60px;
    margin-left: 270px;
}
.footer a:hover{
    color: blue;
}    
    
